<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>
<body>
    <h2>Register Here</h2>
    <form action="/signup" method="post">
        <label>Username:</label>
        <input type="text" name="username" required><br><br>
        <label>Password:</label>
        <input type="password" name="password" required><br><br>
        <button type="submit">Register</button>
    </form>
    <p>Have an account already? <a href="{{ url_for('signin') }}">Login here</a>.</p>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
