<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
</head>
<body>
    <h2>Sign In</h2>
    <form action="/signin" method="post">
        <label>Username:</label>
        <input type="text" name="username" required><br><br>
        <label>Password:</label>
        <input type="password" name="password" required><br><br>
        <button type="submit">Login</button>
    </form>
    <p>No account? <a href="{{ url_for('signup') }}">Sign Up</a>.</p>
    <a href="{{ url_for('home') }}"> Home </a>
</body>
</html>
